<%- include('./partials/header'); -%> <%- include('./partials/sidebar'); -%>

    <div class="content-wrapper" style="min-height: 1246.5px">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Add Portfolio</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Add Portfolio</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Portfolio</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="alert alert-success" style="display: none"></div>
                <div class="alert alert-danger" style="display: none"></div>

                <form id="portfolioForm" enctype="multipart/form-data">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Title</label>
                      <input type="text" class="form-control" name="title" id="title" placeholder="Enter Title" />
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"> Description </label>
                          <textarea class="form-control" name="descp" id="descp"
                            placeholder="Enter Description"></textarea>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1"> Summary(Optional) </label>
                          <textarea class="form-control" name="summary" id="summary"
                            placeholder="Enter Summary(Optional)"></textarea>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Image</label>
                          <input type="file" name="pimg" class="form-control" id="pimg" accept=".jpg, .jpeg, .png, .mp4"
                            multiple />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Type</label>
                          <!-- <input type="text" class="form-control" name="type" id="type" placeholder="Enter type" /> -->
                          <select class="form-control" name="type" id="type">
                            <option value="">Select</option>
                            <option value="left">Left</option>
                            <option value="right">Right</option>
                            <option value="center">Center</option>
                            <option value="video">Video</option>
                          </select>
                        </div>
                      </div>
                    </div>


                    <!-- logo multiple start -->
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Logo 1</label>
                          <input type="file" name="logo" id="logo" class="form-control logo"
                            accept=".jpg, .jpeg, .png" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL 1</label>
                          <input type="text" class="form-control url" name="url" id="url" placeholder="Enter URL" />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Logo 2</label>
                          <input type="file" name="logo2" id="logo2" class="form-control logo"
                            accept=".jpg, .jpeg, .png" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL 2</label>
                          <input type="text" class="form-control url" name="url2" id="url2" placeholder="Enter URL" />
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Logo 3</label>
                          <input type="file" name="logo3" id="logo3" class="form-control logo"
                            accept=".jpg, .jpeg, .png" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL 3</label>
                          <input type="text" class="form-control url" id="url3" name="url3" placeholder="Enter URL" />
                        </div>
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">Logo 4</label>
                          <input type="file" name="logo4" id="logo4" class="form-control logo"
                            accept=".jpg, .jpeg, .png" />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="exampleInputPassword1">URL 4</label>
                          <input type="text" class="form-control url" name="url4" id="url4" placeholder="Enter URL" />
                        </div>
                      </div>
                    </div>
                    <!-- logo multiple end -->

                  </div>
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/portfolio" class="btn btn-default">Back</a>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <%- include('./partials/footer'); -%>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

      <script>

        $(document).ready(function (e) {

          $("#portfolioForm").on('submit', (function (e) {

            e.preventDefault();

            var logoInput = document.getElementById('logo');
            var logoFiles = logoInput.files;
            if (logoFiles.length > 0) {
              var logoName = logoFiles[0].name;
              // alert("Selected logo image: " + logoName);
            }

            var logoInput2 = document.getElementById('logo2');
            var logoFiles2 = logoInput2.files;
            if (logoFiles2.length > 0) {
              var logoName2 = logoFiles2[0].name;
              // alert("Selected logo image: " + logoName);
            }

            var logoInput3 = document.getElementById('logo3');
            var logoFiles3 = logoInput3.files;
            if (logoFiles3.length > 0) {
              var logoName3 = logoFiles3[0].name;
              // alert("Selected logo image: " + logoName);
            }

            var logoInput4 = document.getElementById('logo4');
            var logoFiles4 = logoInput4.files;
            if (logoFiles4.length > 0) {
              var logoName4 = logoFiles4[0].name;
              // alert("Selected logo image: " + logoName);
            }


            var formData = new FormData(this);


            $.ajax({
              url: "/insertPortfolio",
              type: "POST",
              data: formData,
              contentType: false,
              processData: false,
              success: function (response) {
                if (response) {

                  $(".alert-success")
                    .text("Add Successfully!")
                    .fadeIn()
                    .delay(1000)
                    .fadeOut();

                  $("#pimg").val(""); // Reset image input
                  $(".logo").val(""); // Reset image input
                  $("#portfolioForm")[0].reset();
                } else {

                  $(".alert-danger")
                    .text(response.message)
                    .fadeIn()
                    .delay(1000)
                    .fadeOut();
                }
              },

              error: function (err) {
                $(".alert-danger")
                  .text(err.responseJSON.message)
                  .fadeIn()
                  .delay(1000)
                  .fadeOut();
              },

            });
          }));
        });

      </script>